body {
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
  margin: 0px 0.5rem;
}

header {
  padding: 2em;
  font-size: x-large;
}
#main-content {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

#sketch-pad-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#color-selectors {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.change-sketch-pad {
  padding: 1rem 2rem;
  font-size: larger;
  border-radius: 0.7rem;
  border: 0.2rem solid rgb(85, 79, 79);
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.change-sketch-pad:active {
  top: 1rem;
  left: 0.5rem;
  box-shadow: none;
}

input[type="range"] {
  accent-color: rgb(85, 79, 79);
}

.slider-components {
  display: flex;
  flex-direction: column;
}

#sketch-pad {
  display: flex;
  aspect-ratio: 1/1;
  width: 50rem;
  flex-wrap: wrap;
  border: 1rem solid rgb(85, 79, 79);
  border-radius: 0.9rem;
}

.pixel {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: 1px solid rgb(59, 57, 57);
  outline-offset: -1px;
}

footer {
  margin-top: auto;
  text-align: end;
  padding: 2rem;
}
